<!DOCTYPE html>
<html>
<head>
  <title>RoutesRevealer</title>
  <%= stylesheet_link_tag    "routes_revealer/application", media: "all" %>
  <%= javascript_include_tag "routes_revealer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
